@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ion-background-color: #090d16;
  --ion-text-color: #f1f5f9;
  --ion-font-family: -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", Roboto, sans-serif;
  --ion-color-primary: #38bdf8;
}

body {
  margin: 0;
  padding: 0;
  background-color: #090d16;
  color: #f1f5f9;
  touch-action: manipulation;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  user-select: none;
}
